*{
    box-sizing: border-box;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.content{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.archTable {
    width: 100%;
}

#table{
    overflow-y: scroll;
    height: calc(100% - 92px);
}

.row{
    width: 100%;
    height: 46px;
    line-height: 46px;
    border-bottom: 1px solid rgb(71, 81, 94);
    color:  #D2D6DC;
}

.row.subHeader{
    background-color: rgb(29, 40, 61);
    text-align: center;
    font-weight: 500;
}

.searchInput{
    height: 100%;
    width: 200px;
    border: 0px;
    border-right: 1px solid rgb(71, 81, 94);
    background-color: #252F3F;
    color:  #D2D6DC;
    padding-left: 5px;
}

.infoInputLabel{
    height: 100%;
    width: 8%;
    min-width: 80px;
    border: 0px;
    color:  #D2D6DC;
    padding-left: 3px;
    float: left;
    line-height: 46px;
    text-align: center;
    font-size: 12px;
}

.infoInputLabel.twolines{
    line-height: 23px;
}

.infoInput{
    height: 100%;
    width: 46px;
    text-align: center;
    border: 0px;
    border-right: 1px solid rgb(71, 81, 94);
    background-color: #252F3F;
    color:  #D2D6DC;
    padding-left: 5px;
    float: left;
}

.clearBtn{
    height: 100%;
    width: 100px;
    border: 0px;
    border-left: 1px solid rgb(71, 81, 94);
    background-color: #252F3F;
    color:  #D2D6DC;
    padding-left: 5px;
    float: right;
}

.clearBtn:hover{
    background-color: #334258;
}

.clearBtnMats{
    height: 100%;
    width: 100px;
    border: 0px;
    border-left: 1px solid rgb(71, 81, 94);
    background-color: #252F3F;
    color:  #D2D6DC;
    padding-left: 5px;
    float: right;
}

.clearBtnMats:hover{
    background-color: #334258;
}


.dispModeBtn{
    height: 100%;
    width: 150px;
    border: 0px;
    border-left: 1px solid rgb(71, 81, 94);
    border-right: 1px solid rgb(71, 81, 94);
    background-color: #252F3F;
    color:  #D2D6DC;
    padding-left: 5px;

}

.dispModeBtn:hover{
    background-color: #334258;
}

.row > .cell{
    float: left;
    height: 100%;
}

.archInput input{    
    outline: none;
}
.cell.nameCell{
    width: 35%;
    padding-left: 5px;
}

.cell.nameCell > .artefactName{
    width: 100%;
    height: auto;
    display: block;
    line-height: 30px;
}

.cell.nameCell > .artefactName > img{
    margin-top: 3px;
}

.cell.nameCell > .artefactLocation{
    width: 100%;
    height: 20%;
    display: block;
    line-height: 10px;
    font-size: 10px;
    color: rgb(162, 166, 170);
}

.cell.numberCell{
    width: 8%;
}

.cell.bigNumberCell{
    width: 12%;
}

.cell.veryBigNumberCell{
    width: 15%;
}

.cell.right{
    float: right !important;
}

.row.headRow{
    background-color: #161E2E;
    font-weight: bold;
}

.collectionHeaderName{
    float: left;
    display: block;
    padding-left: 10px;
}
.collectionHeaderRewards{
    line-height: 23px;
    float: right;
    display: block;
    font-size: 14px;
    padding-right: 10px;
    text-align: right;
    color: rgb(162, 166, 170);
}

.archInput{
    position: absolute;
    left: 0px;
    top: 0px;
    width: calc(60% - 30px);
    height: 100%;
    overflow-y: hidden;
    background-color: #252F3F;
}

.archOutput{
    position: absolute;
    right: 0px;
    top: 46px;
    width: calc(40% - 30px);
    height: calc(100% - 46px);
    overflow-y: scroll;
    padding: 5px;
    background-color: #252F3F;
    color:  #D2D6DC;
}

.archOutputHeader{
    position: absolute;
    right: 0px;
    top: 0px;
    width: calc(40% - 30px);
    height: 46px;

    background-color: #161E2E;
    font-weight: bold;
    color:  #D2D6DC;
    border-bottom: 1px solid rgb(71, 81, 94);
}


.centreSection{
    position: absolute;
    left: calc(60% - 30px);
    top: 0px;
    width: 60px;
    height: 100%;
    text-align: center;
    background-color: #EEE;
    padding-top: 10px;
    border-right: 1px solid #555;
    border-left: 1px solid #555;
    background-color: #161E2E;
}

#table::-webkit-scrollbar {
    display: none;
}

#table::-webkit-scrollbar {
    display: none;
}


th, td {
    text-align: left;
    height: 40px;
    line-height: 40px;
}

tr{
    border-bottom: 1px solid rgb(71, 81, 94);
}

tr:nth-child(odd){
    background-color: #252F3F;
}
tr:nth-child(even){
    background-color: #252F3F;
    /*background-color: rgb(27, 41, 66);*/
}

.materialOutputTableCell{
    min-width: 50px;
    height: 20px;
    line-height: 20px;
    padding-left: 3px;
    padding-right: 3px;
}

.materialOutputTableCell.num{
    text-align: center;
}

.part-active{
    background-color: rgb(63, 63, 37);
}

.active{
    background-color: rgb(40, 63, 37) !important;
}


.row.inactive{
    background-color: rgb(63, 37, 37) !important;
}


.rowIcon{
    width: 20px;
    height: 20px;
}

.artCountInput{
    background-color: #374151;
    color:  #D2D6DC;
    border: 1px solid #4B5563;
    border-radius: 2px;
    font-size: 16px;
    text-align: center;
    width: 30px;
}

.artOwnedCountInput{
    background-color: #374151;
    color:  #D2D6DC;
    border: 1px solid #4B5563;
    border-radius: 2px;
    font-size: 16px;
    text-align: center;
    width: 30px;
}

.artMod{
    background-color: rgb(122, 114, 5);
    border: 0px solid #4B5563;
    border-radius: 2px;
    color: #D2D6DC;
    width: 20px;
    height: 20px;
}

.artOwnedMod{
    background-color: #057A55;
    border: 0px solid #4B5563;
    border-radius: 2px;
    color: #D2D6DC;
    width: 20px;
    height: 20px;
}

.matOwnedCountInput{
    background-color: #374151;
    color:  #D2D6DC;
    border: 1px solid #4B5563;
    border-radius: 2px;
    font-size: 16px;
    text-align: center;
    width: 40px;
}

.matOwnedMod{
    background-color: #057A55;
    border: 0px solid #4B5563;
    border-radius: 2px;
    color: #D2D6DC;
    width: 20px;
    height: 20px;
}

/*
tr.Zaros:nth-child(odd){
    background-color: rgb(249, 228, 253);
}
tr.Zaros:nth-child(even){
    background-color: rgb(245, 199, 255);
}

tr.Zamorak:nth-child(odd){
    background-color: rgb(253, 228, 228);
}
tr.Zamorak:nth-child(even){
    background-color: rgb(255, 199, 199);
}

tr.Saradomin:nth-child(odd){
    background-color: rgb(230, 228, 253);
}
tr.Saradomin:nth-child(even){
    background-color: rgb(210, 211, 255);
}

tr.Armadyl:nth-child(odd){
    background-color: rgb(253, 242, 228);
}
tr.Armadyl:nth-child(even){
    background-color: rgb(255, 231, 199);
}
*/


th {
    background-color: #161E2E;
    color: #D2D6DC;
}

.siteFilterIcon{
    width: 30px;
    height: 30px;
}

.siteFilterIcon.inactive{
    opacity: 0.5;
    filter: grayscale(100%);
}

.collectorContainer{
    width: 100%;
    height: auto;
    display: block;
    /* border-bottom: 1px solid rgb(71, 81, 94); */
    padding-top: 3px;
}

.collectorContainer.inactive{
    opacity: 0.5;
    filter: grayscale(100%);
}

.collectorFilterIcon{
    width: 25px;
    height: 28px;
}

.collectorFilterIconText{
    display: block;
    width: 100%;
    height: 15px;
    color: #d2d2d2;
    font-size: 10px;
    text-align: center;
}

.collectorFilterIcon.inactive{
    opacity: 0.5;
    filter: grayscale(100%);
}

.matImg{
    width: 20px;
    height: 20px;
}
